@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Montserrat', sans-serif; }

.prov {
  background-color: #FFFFFF;
  height: 90vh; }

.menu-btn {
  display: inline-block;
  cursor: pointer;
  background: none;
  border: 0;
  margin-top: .7em;
  margin-right: .7em; }
  .menu-btn:focus {
    outline: none; }

.burger-icon {
  position: relative; }

.burger-icon,
.burger-icon:before,
.burger-icon:after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #444444;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.burger-icon:before,
.burger-icon:after {
  position: absolute;
  content: ""; }

.burger-icon:before {
  top: -8px; }

.burger-icon:after {
  top: 8px; }

.menu-btn.is-active .burger-icon {
  background-color: transparent; }

.menu-btn.is-active .burger-icon:before {
  -webkit-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg); }

.menu-btn.is-active .burger-icon:after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -moz-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg); }

.icon {
  height: 3.75em;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  visibility: visible;
  z-index: 9999; }
  .icon button {
    padding: 1em .5em; }

.menu {
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  width: 250px;
  height: 100vh;
  transform: translateX(-250px);
  z-index: 9899; }
  .menu__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .menu__content .menu__item {
      color: #303030;
      padding: .3em 0;
      text-decoration: none; }
      .menu__content .menu__item--link {
        font-weight: 500;
        padding-left: 1em; }
      .menu__content .menu__item--active {
        color: #FF009A; }
      .menu__content .menu__item--link:hover {
        color: #FF009A; }
      .menu__content .menu__item--logo {
        flex-grow: 0;
        padding-top: 2em;
        padding-bottom: 3em;
        padding-left: 1em; }
        .menu__content .menu__item--logo img {
          width: 100px; }
      .menu__content .menu__item--p {
        padding-top: 7em;
        font-size: .8em;
        line-height: 1.8em;
        padding-left: 1em; }
      .menu__content .menu__item--icon {
        margin: auto; }
        .menu__content .menu__item--icon i {
          font-size: 1.5em;
          padding: 0 .5em; }

.hero {
  height: 100vh;
  background: url(../img/hero.jpg) no-repeat center;
  background-size: cover; }
  .hero .row {
    height: 100%;
    width: 90%;
    margin: auto; }
  .hero__content {
    margin: auto 0; }
    .hero__content h1 {
      color: #303030;
      font-weight: 700; }
    .hero__content p {
      font-size: 1.3em;
      padding-bottom: 1.3em;
      color: #303030; }
    .hero__content .hero__button {
      text-decoration: none;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      position: relative;
      padding: .6em 1.4em;
      padding-right: 4.7em;
      border: none;
      color: #FFFFFF;
      transition: .2s;
      font-weight: 500;
      background: #ff0099c9; }
      .hero__content .hero__button:before, .hero__content .hero__button:after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding-top: inherit;
        padding-bottom: inherit;
        width: 2.8em;
        content: "\00a0";
        font-family: 'FontAwesome', sans-serif;
        font-size: 1.2em;
        text-align: center;
        transition: .2s; }
      .hero__content .hero__button:before {
        background: rgba(0, 0, 0, 0.1); }
      .hero__content .hero__button:active, .hero__content .hero__button:focus, .hero__content .hero__button:hover {
        outline: none;
        background: #FF009A; }
      .hero__content .hero__button:after {
        content: "\F054"; }
      .hero__content .hero__button:hover:after {
        -webkit-animation: bounceright .3s alternate ease infinite;
        animation: bounceright .3s alternate ease infinite; }

.about, .portfolio, .contact {
  padding-top: 3em; }
  .about h3, .portfolio h3, .contact h3 {
    color: #FF009A;
    font-weight: 700;
    font-size: 1.5em;
    padding-bottom: 1em; }
  .about h4, .portfolio h4, .contact h4 {
    color: #303030;
    font-weight: 500;
    font-size: 2em;
    padding-bottom: 1em; }
  .about__content {
    margin: auto; }
    .about__content p {
      margin: auto;
      line-height: 1.8em;
      padding: .8em; }
    .about__content img {
      border-radius: 1em; }

.services {
  padding-top: 3em; }
  .services .row {
    background-color: #FF009A;
    padding: 6em 0; }
  .services__item {
    width: 90%;
    margin: auto;
    color: #FFFFFF;
    padding-bottom: 6em; }
    .services__item i {
      display: block;
      text-align: center;
      font-size: 2.5em;
      padding-bottom: 1em;
      margin: auto; }
    .services__item h5 {
      width: 90%;
      margin: auto;
      text-align: center;
      font-weight: 700;
      padding-bottom: .5em; }
    .services__item p {
      width: 90%;
      margin: auto;
      text-align: center; }
  .services__item--nopadding {
    padding-bottom: 0; }

.portfolio__galery {
  padding: 0 1em; }
  .portfolio__galery .col-12 {
    margin: 0;
    padding: 0; }

.contact__form {
  margin: auto; }
  .contact__form textarea {
    resize: none; }
  .contact__form form {
    display: flex;
    flex-direction: column; }

.contact__map {
  margin: auto;
  padding: 1.5em; }
  .contact__map div {
    height: 23em; }

.footer {
  color: #FFFFFF;
  background-color: #FF009A;
  margin-top: 2em; }
  .footer p {
    margin: auto 0;
    text-align: center;
    padding: 2em; }

.more {
  padding-top: 5em; }
  .more h1 {
    font-size: 2em;
    padding: 2em 1em; }
  .more__content .col-12 {
    margin: auto; }
  .more__content p {
    padding: 2em; }
  .more__content .more__skils {
    text-align: center;
    font-size: 4em;
    background-color: #FF009A;
    width: 80%;
    margin: auto; }
    .more__content .more__skils i {
      color: #FFFFFF;
      padding: .5em; }
  .more__content .more__img {
    text-align: center; }
    .more__content .more__img img {
      border-radius: 1em;
      width: 90%; }

.services--section {
  padding-top: 5em;
  margin: auto; }
  .services--section .row {
    background-color: #FFFFFF;
    margin: auto; }
    .services--section .row .services__item {
      color: #303030; }

.portfolio--section {
  padding: 10em 1em; }

@media (min-width: 576px) {
  .services__item {
    width: 80%; }
  .contact__map {
    padding: .5em; } }

.contact--section {
  padding: 10em 1em; }

@media (min-width: 992px) {
  .hero__content h1 {
    font-weight: 700;
    font-size: 3em; }
  .hero__content p {
    font-size: 2em;
    padding-bottom: .5em; }
  .hero__content .hero__button {
    font-size: 1.3em; } }

@media (min-width: 1024px) {
  .icon {
    visibility: hidden; }
  .menu {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3); }
    .menu__content {
      flex-direction: row;
      justify-content: flex-end;
      margin: auto 2em; }
      .menu__content .menu__item {
        margin: auto; }
        .menu__content .menu__item--link {
          margin-right: 1.5em; }
        .menu__content .menu__item--logo {
          margin: auto 0;
          padding: 0;
          flex-grow: 1;
          margin-left: 1.5em; }
          .menu__content .menu__item--logo img {
            width: 130px; }
        .menu__content .menu__item--p {
          display: none; }
        .menu__content .menu__item--icon {
          display: none; }
  .about h3, .portfolio h3, .contact h3 {
    font-size: 1.8em; }
  .about h4, .portfolio h4, .contact h4 {
    font-size: 2.8em; }
  .about__content p {
    font-size: 1.2em;
    line-height: 2em; }
  .services__item {
    width: 80%;
    padding-bottom: 0; } }

@media (min-width: 1140px) {
  .about h3, .portfolio h3, .contact h3 {
    font-size: 1.8em; }
  .about h4, .portfolio h4, .contact h4 {
    font-size: 2.8em; }
  .about__content p {
    padding: 2em;
    font-size: 1.2em;
    line-height: 2.5em; } }

@keyframes bounceright {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(3px); } }
