@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

// Variables
$pink:#FF009A;
$white: #FFFFFF;
$white2: #F5F5F5;
$black: #0a0a0a;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.prov {
    background-color: $white;
    height: 90vh;
}

// ------------------------------------------------------------- Burger BTN

.menu-btn {
    display: inline-block;
    cursor: pointer;
    background: none;
    border: 0;
    margin-top: .7em;
    margin-right: .7em;

    &:focus {
        outline: none;
    }
}

.burger-icon {
    position: relative;
}

.burger-icon,
.burger-icon:before,
.burger-icon:after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #444444;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.burger-icon:before,
.burger-icon:after {
    position: absolute;
    content: "";
}

.burger-icon:before {
    top: -8px;
}

.burger-icon:after {
    top: 8px;
}

.menu-btn.is-active .burger-icon {
    background-color: transparent;
}

.menu-btn.is-active .burger-icon:before {
    -webkit-transform: translateY(8px) rotate(45deg);
    -moz-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.menu-btn.is-active .burger-icon:after {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -moz-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

// ------------------------------------------------------------- Burger BTN

.icon {
    height: 3.75em;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    visibility: visible;
    z-index: 9999;

    button {
        padding: 1em .5em;
    }
}

.menu {
    position: fixed;
    top: 0;
    background-color: $white;
    width: 250px;
    height: 100vh;
    transform: translateX(-250px);
   z-index: 9899;


    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;


        .menu__item {
            color: $black;
            padding: .3em 0;
            text-decoration: none;

            &--link {
                font-weight: 500;
                padding-left: 1em;
            }

            &--active {
                color: $pink;
            }    

            &--link:hover {
                color: $pink;
            }

            &--logo {
                flex-grow: 0;
                padding-top: 2em;
                padding-bottom: 3em;
                padding-left: 1em;

                
                img {
                    width: 100px;
                }
            }

            &--p {
                padding-top: 7em;
                font-size: .8em;
                line-height: 1.8em;
                padding-left: 1em;

            }

            &--icon {
                margin: auto;

                i {
                    font-size: 1.5em;
                    padding: 0 .5em;
                }
            }
        }
    }
}

.hero {
    height: 100vh;
    padding-top: 3.75em;
    background-color: #F5F5F5;

    .row {
        height: 100%;
        width: 90%;
        margin: auto;
    }

    &__content {
        margin: auto 0;

        h1 {
            font-weight: 700;
        }

        p {
            font-size: 1.3em;
            padding-bottom: 1.5em;
        }

        .hero__button {
            font-size: 1.2em;
            text-decoration: none;
            padding: .5em;
            border: 2px solid;
            color: $pink;
            font-weight: 500;
            transition: .2s ease-in-out;

            &:hover {
                background-color: $pink;
                border: 2px solid $pink;
                color: $white;
            }

        }
    }
}

.about {
    padding-top: 3em;

    h3 {
        color: $pink;
        font-weight: 700;
        font-size: 1.5em;
        padding-bottom: 1em;
    }

    h4 {
        color: $black;
        font-weight: 500;
        font-size: 2em;
        padding-bottom: 1em;
    }

    &__content {
        margin: auto;
        p {
            margin: auto;
            line-height: 1.8em;
            padding: .8em;
        }
        img {
            border-radius: 1em;
        }
    }

}

.services {
    padding-top: 3em;

    .row {
        background-color: $pink;
        padding: 6em 0;

    }

    &__item {
        width: 90%;
        margin: auto;
        color: $white;
        padding-bottom: 6em;

        i {
            display: block;
            text-align: center;
            font-size: 2.5em;
            padding-bottom: 1em;
            margin: auto;

        }

        h5 {
            width: 90%;

            margin: auto;
            text-align: center;
            font-weight: 700;
            padding-bottom: .5em;
        }

        p {
            width: 90%;

            margin: auto;
            text-align: center;
        }

    }

    &__item--nopadding {
        padding-bottom: 0;
    }
}

.portfolio {
    @extend .about;

    &__galery {
        padding: 0 1em;

        .col-12 {
            margin: 0;
            padding: 0;
        }
    }
}

.contact {
    @extend .about;

    &__form {
        margin: auto;

        textarea {
            resize: none;
        }

        form {
            display: flex;
            flex-direction: column;
        }
    }

    &__map {
        margin: auto;
        padding: 1.5em;


        div {
            height: 23em;
        }
    }


}

.footer {
    color: $white;
    background-color: $pink;
    margin-top: 2em;

    p {
        margin: auto 0;
        text-align: center;
        padding: 2em;
    }
}


// -------------------------------------------------------------conocenos.html
.more {
    padding-top: 5em;
    h1 {
        font-size: 2em;
        padding: 2em 1em;
    }

    &__content {
        .col-12 {
            margin: auto;
        }
        
        p {
            padding: 2em;
        }

        .more__skils {
            text-align: center;
            font-size: 4em;
            background-color: $pink;
            width: 80%;
            margin: auto;
            
            i{
                color: $white;
                padding: .5em;
            }
        }
        .more__img {
            text-align: center;
            img {
                border-radius: 1em;
                width: 90%;
            }

        }
        

    }

}

// ---------------------------------------------------------------------services.html
.services--section {
    padding-top: 5em ;
    margin: auto;
    .row {
        background-color: $white;
        margin: auto;
       
        
        .services__item {

            color: $black;
        }
    }
    
}

// ---------------------------------------------------------------------portfolio.html

.portfolio--section {
padding: 10em 1em;
}

@media (min-width: 576px) {

    .services {
        &__item {
            width: 80%;
        }
    }

    .contact {

        &__map {
            padding: .5em;
        }
    }
}

// ---------------------------------------------------------------------contacto.html

.contact--section {
    padding: 10em 1em;
}


@media (min-width: 992px) {

    .hero {
    
        &__content {
    
            h1 {
                font-weight: 700;
                font-size: 3em;
            }
    
            p {
                font-size: 2em;
                padding-bottom: .5em;
            }
    
            .hero__button {
                font-size: 1.3em;
            }
        }
    }

    .icon {
        visibility: hidden;
    }
}

@media (min-width: 1024px) {

    .icon {
        visibility: hidden;
    }

    .menu {
        width: 100%;
        height: 80px;
        background-color: $white;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);


        &__content {
            flex-direction: row;
            justify-content: flex-end;
            margin: auto 2em;
            
            .menu__item {
                margin: auto;

                &--link {
                    margin-right: 1.5em;
                }

                &--logo {
                    margin: auto 0;
                    padding: 0;
                    flex-grow: 1;
                    margin-left: 1.5em;


                    img {
                        width: 130px;
                    }
                }

                &--p {
                    display: none;
                }

                &--icon {
                    display: none;
                }
            }
        }
    }

    .about {
    
        h3 {
            font-size: 1.8em;
        }
    
        h4 {
            font-size: 2.8em;
        }
    
        &__content {
    
            p {
                font-size: 1.2em;
                line-height: 2em;
            }
    
        }
    
    }

    .services {
        &__item {
            width: 80%;
            padding-bottom: 0;
        }
    }

}

@media (min-width: 1140px) {

    .about {
    
        h3 {
            font-size: 1.8em;
        }
    
        h4 {
            font-size: 2.8em;
        }
    
        &__content {
    
            p {
                padding: 2em;
                font-size: 1.2em;
                line-height: 2.5em;
            }
    
        }
    
    }

}

