@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

// Variables
$pink:#FF009A;
$pinkh:#ff0099c9;
$pinkt:#ff009923;
$white: #FFFFFF;
$white2: #F5F5F5;
$black: #303030;

$html:90%;
$css:80%;
$js:50%;


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.prov {
    background-color: $white;
    height: 90vh;
}

// ------------------------------------------------------------- Burger BTN

.menu-btn {
    display: inline-block;
    cursor: pointer;
    background: none;
    border: 0;
    margin-top: .7em;
    margin-right: .7em;

    &:focus {
        outline: none;
    }
}

.burger-icon {
    position: relative;
}

.burger-icon,
.burger-icon:before,
.burger-icon:after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #444444;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.burger-icon:before,
.burger-icon:after {
    position: absolute;
    content: "";
}

.burger-icon:before {
    top: -8px;
}

.burger-icon:after {
    top: 8px;
}

.menu-btn.is-active .burger-icon {
    background-color: transparent;
}

.menu-btn.is-active .burger-icon:before {
    -webkit-transform: translateY(8px) rotate(45deg);
    -moz-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.menu-btn.is-active .burger-icon:after {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -moz-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

// ------------------------------------------------------------- Burger BTN

.icon {
    height: 3.75em;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    visibility: visible;
    z-index: 9999;

    button {
        padding: 1em .5em;
    }
}

.menu {
    position: fixed;
    top: 0;
    background-color: $white;
    width: 250px;
    height: 100vh;
    transform: translateX(-250px);
    z-index: 9899;


    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .menu__item {
            color: $black;
            padding: .3em 0;
            text-decoration: none;
            transition: color .3s ease-in-out;

            &--link {
                font-weight: 500;
                padding-left: 1em;
            }

            &--active {
                color: $pink;
            }

            &--link:hover {
                color: $pink;
            }

            &--logo {
                flex-grow: 0;
                padding-top: 2em;
                padding-bottom: 3em;
                padding-left: 1em;


                img {
                    width: 100px;
                }
            }

            &--p {
                padding-top: 10em;
                font-size: .8em;
                line-height: 1.8em;
                padding-left: 1em;

            }

            &--icon {
                margin: auto;

                a {
                    text-decoration: none;
                    color: $black;
                    transition: color .3s ease-in-out;


                    i {
                        font-size: 1.5em;
                        padding: 0 .5em;
                    }

                    &:hover {
                        color: $pink;
                    }
                }
            }
        }
    }
}

.hero {
    height: 100vh;
    background: url(../img/hero.jpg) no-repeat center;
    background-size: cover;

    .row {
        height: 100%;
        max-width: 720px;
        margin: auto;
    }

    &__content {
        margin: auto 0;

        h1 {
            color: $black;
            font-weight: 700;
        }

        p {
            font-size: 1.3em;
            padding-bottom: 1.3em;
            color: $black;
        }

        .hero__button {
            text-decoration: none;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
            position: relative;
            padding: .6em 1.4em;
            padding-right: 4.7em;
            border: none;
            color: $white;
            transition: .2s;
            font-weight: 500;
            background: $pinkh;


            &:before,
            &:after {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                padding-top: inherit;
                padding-bottom: inherit;
                width: 2.8em;
                content: "\00a0";
                font-family: 'FontAwesome', sans-serif;
                font-size: 1.2em;
                text-align: center;
                transition: .2s;
            }

            &:before {
                background: rgba(0, 0, 0, 0.1);
            }

            &:active,
            &:focus,
            &:hover {
                outline: none;
                background: $pink;
            }

            &:after {
                content: "\F054";
            }

            &:hover:after {
                -webkit-animation: bounceright .3s alternate ease infinite;
                animation: bounceright .3s alternate ease infinite;
            }
        }
    }
}

.about {
    padding-top: 6em;
    max-width: 768px;


    h3 {
        color: $pink;
        font-weight: 700;
        font-size: 1.5em;
        padding-bottom: 1em;
    }

    h4 {
        color: $black;
        font-weight: 500;
        font-size: 2em;
        padding-bottom: 1em;
    }

    &__content {
        margin: auto;

        p {
            margin: auto;
            line-height: 2em;
            padding-bottom: 2em;
        }

        img {
            box-shadow: 10px 10px 0 0 $pinkh;
        }
    }

}

.services {
    padding-top: 6em;

    .row {
        background-color: $pink;
        padding: 6em 0;

    }

    &__item {
        width: 90%;
        margin: auto;
        color: $white;
        padding-bottom: 6em;

        i {
            display: block;
            text-align: center;
            font-size: 2.5em;
            padding-bottom: 1em;
            margin: auto;

        }

        h5 {
            width: 90%;

            margin: auto;
            text-align: center;
            font-weight: 700;
            padding-bottom: .5em;
        }

        p {
            width: 90%;

            margin: auto;
            text-align: center;
        }

    }

    &__item--nopadding {
        padding-bottom: 0;
    }
}

.portfolio {
    @extend .about;

    &__galery {
        padding: 0 1em;
        position: relative;

        .portfolio__item {

            margin: 0;
            padding: 0;

            img {
                opacity: 1;
            }

            .portfolio__text {
                opacity: 0;
                background-color: $pink;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transition: opacity .5s ease-in-out;


                p {
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    color: $white;

                    span {
                        font-weight: 700;
                    }

                }
            }

            &:hover .portfolio__text {
                opacity: .9;
            }

        }
    }
}

.contact {
    @extend .about;

    &__form {
        margin: auto;

        input {
            &:focus {
                outline: none;
            }
        }

        label {
            padding: .5em 0;
            margin: 0;
            font-weight: 500;
        }

        textarea {
            resize: none;

            &:focus {
                outline: none;
            }
        }

        .contact__button {
            margin: .5em 0;
            padding: .5em 0;
            border: none;
            background-color: $pink;
            color: $white;
            font-weight: 500;
            transition: all .5s ease-in-out;

            &:hover {
                background-color: $pinkh;
            }

            &:focus {
                outline: none;
            }
        }

        form {
            display: flex;
            flex-direction: column;
        }
    }

    &__map {
        margin: auto;
        padding: 1.5em;


        div {
            height: 23em;
        }
    }


}

.footer {
    color: $white;
    background-color: $pink;
    margin-top: 2em;

    p {
        margin: auto 0;
        text-align: center;
        padding: 2em;
    }
}


// -------------------------------------------------------------conocenos.html

.know__us {
    @extend .about;
    padding-top: 0;
    margin-top: 9em;

    &__content {
        margin: auto;

        &__ptitle {
            font-size: 1.3em;
            font-weight: 500;
            padding: 4em 0 1em 0;
        }

        &__p2 {
            padding-bottom: 1em;
        }

        img {
            box-shadow: 10px 10px 0 0 $pinkh;
        }
    }

    &__skills {
        margin: auto;

        h4 {
            text-transform: uppercase;
            font-weight: 700;
            padding: 3em 0 1em 0;
            margin: auto;
        }
       
        &>div {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: center;
            text-align: center;
        }

        &__bar {
            padding: 1em 0;


            &__logo {
                width: 100px;
                
                p {
                    font-weight: 500;
                    margin: auto;
                }

                i {
                    color: $black;
                    font-size: 3em;
                }
            }

            &__progress__bar {

                padding: 0 1em;
                background-color: transparent;
                overflow: hidden;
                width: 100%;
                margin: auto;
    
                .bar {
                    display: block;
                    background: $black;
    
                    .progress {
                        border-radius: 0;
                        background: $pink;
                        padding: .5em;
                        width: 0;
                    }
            
                    .progress--html {
                        animation: loaderhtml 2s ease-in-out;
                        width: $html;
                    }
            
                    .progress--css {
                        animation:  loadercss 2s ease-in-out;
                        width: $css;
                    }
            
                    .progress--js {
                        animation:  loaderjs 2s ease-in-out;
                        width: $js;
                    }
             
                }
       
            }
        }

    }

}

// ---------------------------------------------------------------------services.html

.our__services {
    @extend .about;
    padding-top: 0;
    margin-top: 9em;

    h4 {
        padding-bottom: 4em;
    }


    &__plan {
        background-color: $pink;
        margin: 1em auto;
        max-width: 410px;
        


        h4 {
            text-align: center;
            padding: 1em 0;
            color: $white;
            font-weight: 300;

            span {
                font-weight: 700;
            }
        }

        >span {
            margin: auto;
            display: block;
            width: 20%;
            border-top: 2px solid;
            color: $white;
        }

        &__price {
            font-size: 5em;
            font-weight: 900;
            color: $white;
            text-align: center;

            span {
                vertical-align: middle;
                font-size: .5em;
                padding-right: .1em;
            } 
        } 

        &__desc {
            color: $white;
            text-align: center;
            padding: 2em 0;
        }

        &__item {
            margin: auto;
            color: $white;
            width: 80%;
            padding: .5em 0;

            span {
                padding-right: .1em;
            }

            &--first {
                padding-top: 2em;
            }

            &--latest {
                padding-bottom: 2em;
            }
        }

        &__button {
                display: block;
                width: 70%;
                text-align: center;
                margin: 2em auto;
                padding: .5em;
                border: 2px solid;
                color: $white;
                transition: all .2s ease-in-out;
                font-weight: 700;

                &:hover {
                    color: $pink;
                    background-color: $white;
                    text-decoration: none;

                }

            
           
        }
    }

    &__content {
        margin: auto;

        &__ptitle {
            font-size: 1.3em;
            font-weight: 500;
            padding: 4em 0 1em 0;
        }

        &__p1 {
            font-weight: 500;
            font-size: 1.5em;

            span {
                margin: auto;
                color: $pink;
                
            }
     
        }

        &__p2 {
            padding-bottom: 1em;
        }

        img {
            box-shadow: 10px 10px 0 0 $pinkh;
        }
    }



}

// ---------------------------------------------------------------------portfolio.html

.portfolio--section {
    padding: 10em 1em;
}

// ---------------------------------------------------------------------contacto.html

.contact--section {
    padding: 10em 1em;
}

// -------------------------------------------------- start @media

@media (min-width: 576px) {}

@media (min-width: 768px) {

    .hero {

        &__content {

            h1 {
                font-size: 3em;
            }

            p {
                font-size: 1.8em;

            }

            .hero__button {
                font-size: 1.2em;
            }

        }
    }

    .about {

        h3 {
            font-size: 1.8em;
        }

        h4 {
            font-size: 2.5em;
        }
    }


}

@media (min-width: 992px) {

    .icon {
        visibility: hidden;
    }

    .menu {
        width: 100%;
        height: 80px;
        background-color: $white;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);


        &__content {
            flex-direction: row;
            justify-content: flex-end;
            margin: auto 2em;

            .menu__item {
                margin: auto;

                &--link {
                    margin-right: 1.5em;
                }

                &--logo {
                    margin: auto 0;
                    padding: 0;
                    flex-grow: 1;
                    margin-left: 1.5em;


                    img {
                        width: 130px;
                    }
                }

                &--p {
                    display: none;
                }

                &--icon {
                    display: none;
                }
            }
        }
    }



    .hero {
        padding-top: 3em;


    }

    .about {
        max-width: 992px;

        h3 {
            font-size: 2.1em;
        }

        h4 {
            font-size: 3em;
        }

        &__content {
            p {
                padding: 2em 0;
                font-size: 1.2em;
            }
        }
    }

    .services {

        &__item {
            padding-bottom: 0;
        }
    }

    .know__us {

        &__content {
    
            &__ptitle {
                padding-top: 2em;
            }
    
            &__p1,
            &__p2 {
                font-size: .9em;
            }
    
            &__p2 {
                padding-bottom: 1em;
            }
    
        }
        &__skills {
            padding: 2em 0;
            h4 {
                padding: 0 2em;
                text-align: center;
    
            }
            >p {
                padding: 1em 2em 0 2em;
                text-align: center;
            }
        }
    
    }
    
    
    .our__services {
        h4 {
            padding-bottom: 2em;
        }

        &__plan {

            min-width: 300px;     
            
            h4 {
                font-size: 2em;
            }

            &__price {
                font-size: 3.5em;
            }
        
        }


    }

}



@media (min-width: 1200px) {

    .hero {

        .row {
            max-width: 1000px;
        }

        &__content {
            h1 {
                font-size: 3.5em;
            }

            p {
                font-size: 2.3em;

            }
        }

    }

    .about {
        max-width: 1200px;

        &__content {
            p {
                font-size: 1.4em;
            }
        }
    }

    .know__us {

        &__content {
            padding-top: 2em;
            &__ptitle {
                padding-top: 0;
            }
    
            &__p1,
            &__p2 {
                font-size: 1em;
                line-height: 2em;
            }
    
            &__p2 {
                padding-bottom: 0;
            }
    
        }
    
    }

}



// -------------------------------------------------- end @media



// -------------------------------------------------- start @keyframes

@keyframes bounceright {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(3px);
    }
}

@keyframes loaderhtml {

    0% {
        width: 0;

    }

    100% {
        width: $html;
    }

}

@keyframes loadercss {

    0% {
        width: 0;

    }

    100% {
        width: $css;
    }

}

@keyframes loaderjs {

    0% {
        width: 0;

    }

    100% {
        width: $js;
    }

}

// -------------------------------------------------- end @keyframes